<header>
<h2>Edit Practice Log</h2>
</header>

<form method="POST" action="/practice_logs/<%= @practice_log.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <br>
    <label for="day"> Date: </label>
    <input type="date" name="date" value="<%= @practice_log.date %>"><br>
    <br>
    <label for="practice_minutes"> Minutes Practiced: </label>
    <input type="text" name="practice_minutes" value="<%= @practice_log.practice_minutes %>"><br>
    <br>
    <label for="notes"> Notes (brief notes on what you worked on, what your next steps are): </label>
    <input type="text" name="notes" value="<%= @practice_log.notes %>"><br>
    <br>
    <input type="submit" value="submit" id="submit">
</form>