<header>
<h2>Edit Practice Log</h2>
</header>

<form method="POST" action="/practice_logs/<%= @practice_log.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <br>
    <label for="day"> *Date: </label>
    <input type="date" name="date" value="<%=@practice_log.date %>" class="user_input"><br>
    <br>
    <label for="practice_minutes"> *Minutes Practiced: </label>
    <input type="text" name="practice_minutes" value="<%= @practice_log.practice_minutes %>" class="user_input"><br>
    <br>
    <label for="notes"> Notes: (what you worked on, what are your next steps) </label><br>
    </br>
    <textarea name="notes" class="user_large_text" rows="4" cols="50" ><%= @practice_log.notes %></textarea><br>
    <br>
     </br>
     <p>Fields with '*' are required</p>
     <br>
    <input type="submit" value="submit" id="submit">
</form>