<h2> Student: <%=current_user.fullname %> </h2>
<%= @error %>
<h3> Your practice logs: </h3>
 
<% if @practice_logs.size == 0 %>
    <br>
    <p> You have no practice logs yet </p>
    <br>
<% else %>  
    <% @practice_logs.each do |log| %>
        <p><a href="/practice_logs/<%=log.id%>"> <%= log.date log.practice_minutes %> </a> </p>
        <br>
    <% end %>
 <%end %> 

<a href="/practice_logs/new"> <button type="button" class="btn">New Practice Log</button></a>
        
