<h1> Login to your Pallavi Account </h1>
<form method="POST" action="/login">
    <label for="username"> Username: </label>
    <input type="text" name="username" id="username" class="user_input"> <br>
    <br>
    <label for="password"> Password: </label>
    <input type="password" name="password" id="password" class="user_input"> <br>
     <br>
    <input type="submit" value="Submit" id="submit">
</form>