<div class="container">
  <header>
  <img src="images/Krupaviolin.jpg" style="width:180px;height:200px" class="img-responsive main-image">
  <img src="images/kanjira.png" style="width:280px;height:200px" class="img-responsive main-image">
  <img src="images/mridangam.png" style="width:280px;height:200px" class="img-responsive main-image">
  
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Pallavi School of Music, New York</h2>

    <div class="content">
      <h3>Welcome to the Pallavi School of Music - Student Practice Logger</h3>
    
    
      <p>If you miss one day of practice, you can tell the difference in your playing</p> 
      <p>If you miss two days of practice, your fellow musicians can tell the difference</p> 
      <p>If you miss three days of practice, everyone can tell the difference</p> 
    </div>
  </div>
</div>
